<ion-header>
    <ion-navbar>
        <ion-title>
            {{currentSlideTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let card of cards">
            <ion-card class="main-card">
                <ion-card-content class="tasks-container" [dragula]="card.tasks.sort" [dragulaOptions]="drgagulaOptions" [dragulaModel]='card.tasks'>
                    <!-- <div class='left detector'>
                        &nbsp;
                    </div>
                    <div class='right detector'>
                        &nbsp;
                    </div> -->
                    <ion-card class="tasks" *ngFor="let task of card.tasks; let i = index" (click)="openConfig(card, i)">
                        <!-- <ion-card class="tasks" (panstart)="onPanStart($event)" (panmove)="onPan($event)" *ngFor="let task of card.tasks; let i = index" (click)="openConfig(card, i)"> -->
                        <div class="corner-star" *ngIf="task">
                            <div *ngIf="task.importance==='1'">
                                <ion-icon name="star"></ion-icon>
                            </div>
                            <div *ngIf="task.importance==='2'">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                            <div *ngIf="task.importance==='3'">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                        </div>

                        <ion-card-content *ngIf="task" class="task-notes" [ngClass]="{
                            'first-level':task.importance === '1',
                            'second-level':task.importance === '2',
                            'third-level':task.importance === '3'
                          }">
                            {{task.name}}
                        </ion-card-content>
                    </ion-card>
                    <ion-card class="card-new">
                        <ion-card-header (click)="openConfig(card)">
                            Add a new Task
                        </ion-card-header>
                    </ion-card>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>