<ion-header>
    <ion-navbar>
        <ion-title>
            {{currentSlideTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides (ionSlideDidChange)="slideChanged()">
        <ion-slide *ngFor="let card of cards" [ngClass]="{'allow-scroll':!dragging}">
            <ion-card class="main-card">
                <ion-card-content class="tasks-container" [dragula]="card.name" [dragulaOptions]="drgagulaOptions" [dragulaModel]='card.tasks'>
                    <ion-card class="tasks" *ngFor="let task of card.tasks; let i = index" id="{{task.taskId}}" (click)="openConfig(card, i)">
                        <div class="corner-star" *ngIf="task">
                            <div *ngIf="task.importance==='1'">
                                <ion-icon name="star"></ion-icon>
                            </div>
                            <div *ngIf="task.importance==='2'">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                            <div *ngIf="task.importance==='3'">
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                                <ion-icon name="star"></ion-icon>
                            </div>
                        </div>

                        <ion-card-content *ngIf="task" class="task-notes" [ngClass]="{
                            'first-level':task.importance === '1',
                            'second-level':task.importance === '2',
                            'third-level':task.importance === '3'
                          }">
                            {{task.name}} - {{task.sort}}
                        </ion-card-content>
                    </ion-card>
                </ion-card-content>
                <ion-card class="card-new">
                    <ion-card-header (click)="openConfig(card)">
                        Add a new Task
                    </ion-card-header>
                </ion-card>
            </ion-card>

            <ion-row class="buckets" *ngIf="dragging">
                <ion-col col-6 *ngFor="let bin of otherSlides">
                    <button ion-button full [dragula]="card.name" [dragulaModel]='toBin[bin].values'>{{bin}}</button>
                </ion-col>
            </ion-row>
        </ion-slide>
    </ion-slides>
</ion-content>