<ion-header>
    <ion-navbar>
        <ion-title>
            Task App for ID90
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides>
        <ion-slide *ngFor="let card of cards">
            <ion-card>
                <ion-card-header>
                    {{card.name}}
                </ion-card-header>
                <ion-card-content dnd-sortable-container [sortableData]="card.tasks">
                    <!-- <ion-card-content [dragula]='card.name' [dragulaModel]='card.tasks'> -->
                    <div class='left detector'>
                        &nbsp;
                    </div>
                    <div class='right detector'>
                        &nbsp;
                    </div>
                    <ion-card *ngFor="let task of card.tasks; let i = index" dnd-sortable [sortableIndex]="i" (click)="openConfig(card, task)">
                        <ion-card-header>
                            {{task.name}}
                        </ion-card-header>
                    </ion-card>
                    <ion-card>
                        <ion-card-header (click)="openConfig(card)">
                            Add a new Task
                        </ion-card-header>
                    </ion-card>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>