<ion-header>
    <ion-navbar>
        <ion-title>
            Task App for ID90
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-slides>
        <ion-slide *ngFor="let card of cards">
            <ion-card>
                <ion-card-header>
                    {{card.name}}
                </ion-card-header>
                <ion-card-content [dragula]='card.name' [dragulaModel]='card.tasks'>
                    <ion-card *ngFor="let task of card.tasks">
                        <ion-card-header>
                            {{task.name}}
                        </ion-card-header>
                    </ion-card>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides>
</ion-content>